.Container {
    width: 80%;
    margin: 0 auto;
    margin-top: 45px;
    display: flex;
    flex-wrap: wrap;
}

.listGroup {
    max-height: 700px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

.search-wrapper {
  width: 350px;
}

.Search {
    display: block;
    margin: 0 auto;
    position: relative;
    display: flex;
}

.SearchSpan {
  width: 15%;
  border: 1px solid #1C76D2;
  background: #1C76D2;
  padding-top: 4px;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  font-size: 20px;
}

.SearchInput {
  width: 85%;
  border: 3px solid #1C76D2;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.pantry-link {
  font-size: 15px;
}

.card-header {
  vertical-align: middle;
  text-overflow: ellipsis;
}

.btn-link {
  display: contents;
}